/* 카테고리별 추천 광고상품 */
.container{
    width: 1020px;
    margin-left: 130px;
    margin-top: 100px;
}

.product_container{
    width: 100%;
    height: 634px;
    position: relative;
    display: flex;
    margin-top: 24px;
    border-top: 1px solid var(--color-brown-300);
    border-bottom: 1px solid var(--color-brown-300);
}

.product_container:nth-of-type(2){
    border-top: 1px solid var(--color-green-700);
    border-bottom: 1px solid var(--color-green-700);
}

.logo{
    width: 246px;
    height: 56px;
    margin-bottom: 48px;
    margin-left: 9px;
}

.title span{
    color: var(--color-blue-600);
}

.left_area{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_top{
    margin-top: 48px;
    margin-left: 24px;
}

.left_top h2{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    color: var(--color-brown-300);
}

.left_top a{
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--color-gray-700);
    display: inline-block;
    margin-top: 8px;
}

.left_top a i{
    width: 6px;
    height: 10px;
    margin-left: 4px;
    display: inline-block;
    background-image: url('../../assets/icon/angle-right-default.svg');
    background-repeat: no-repeat;
}


.left_bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:5px;
    margin: 0 26px 32px 24px;
}

.left_bottom .keyword_title {
    margin-bottom: 20px;
    color: var(--color-back);
    font-weight: 500;
    font-size: 18px;
    line-height: 20.7px;
}

.left_bottom .keyword{
    margin-bottom: 12px;
    border: 1px solid var(--color-gray-400)
}
.left_bottom .keyword:last-child{
    margin-bottom: 0;
}

.left_bottom .keyword{
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: var(--color-brown-300);
    padding: 6px 10px;

}

.middle_area{
    margin-right: 16px;
}

.carousel_img_bx{
    width: 320px;
    height: 631px;
    display: flex;
    position: relative;
    overflow-x: hidden;
}


.bannerCaption{
    width: 260px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-brown-300);
    position: absolute;
    left: 30px;
    top: 483px;
}

.bannerCaption p:nth-of-type(1){
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    margin-bottom: 8px;
}

.bannerCaption p:nth-of-type(2){
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}

.indicator{
    width: 32px;
    height: 12px;
    position: absolute;
    left: 144px;
    top: 597px;
    cursor: pointer;
}

.indicator ul{
    display: flex;
}

.indicator ul li{
    width: 12px;
    height: 12px;
    display: flex;
    border-radius: 50%;
    background-color: vaR(--color-gray-600);
    margin-right: 8px;
}

.indicator ul li:last-child{
    margin-right: 0;
}

.indicator ul li.active{
    background-color: var(--color-gray-700);
}

.right_area{
    display: flex;
    flex-direction: column;
}

.product_top{
    display: flex;
}


.product_top .right_area_product_img_bx{
    width: 160px;
    height: 300px;
    position: absolute;
}

.product_top .right_area_product_img_bx img{
    width: 160px;
    height: 160px;
    margin-bottom: 12px;
}

.product_bottom .right_area_product_img_bx img{
    width: 160px;
    height: 160px;
}

.product_bottom .right_area_product_img_bx{
    width: 160px;
    height: 300px;
    position: absolute;
}

.product_top .right_area_product_img_bx:nth-of-type(1){
    left: 510px;
    top: 9px;
}

.product_top .right_area_product_img_bx:nth-of-type(2){
    left: 686px;
    top: 9px;
}

.product_top .right_area_product_img_bx:nth-of-type(3){
    left: 862px;
    top: 9px;
}


.product_top .product_name,
.product_bottom .product_name
{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--color-back);
    margin-bottom: 12px;
}

.product_top .price,
.product_bottom .price
{
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}

.product_bottom .right_area_product_img_bx:nth-of-type(1){
    left: 510px;
    top: 325px;
}

.product_bottom .right_area_product_img_bx:nth-of-type(2){
    left: 686px;
    top: 325px;
}

.product_bottom .right_area_product_img_bx:nth-of-type(3){
    left: 862px;
    top: 325px;
}

.product_bottom{
    display: flex;
}

.discount{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--color-red-500);
    margin-bottom: 4px;
    margin-top: 12px;
}

.product_top .rocket_icon,
.product_bottom .rocket_icon
{
    display: flex;
    align-items: center;
}

.product_top .right_area_product_img_bx .rocket_icon img,
.product_bottom .right_area_product_img_bx .rocket_icon img
{
    width: 54px;
    height: 14px;
    margin-bottom: 0;
    margin-left: 6px;
}


.product_container.second .bannerCaption{
    background-color: var(--color-green-700);
}


.product_container.second .left_top h2{
    color: var(--color-green-700);
}

.product_container.second .keyword{
    color: var(--color-green-700);
}
